.feed {
    
    width: 50vw;
    max-width: 500px;
    min-width: 330px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #eee;

    input, textarea {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    input {
        width: 100%;
    }
    textarea {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        resize: none;
        width: 100%;
    }

    .compose {
        background-color: #ddd;
        padding: 1rem;


        button {
            background-color: rgb(20, 149, 255);
            color: white;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            display: block;
            transition: .2s;

            &:hover {
                background-color: rgb(16, 124, 212);
            }
        }
    }
    .filter {
        padding: 1rem 1rem 0 1rem;
    }
    .feed-messages {
        padding: 0 1rem 1rem;
        overflow-y: scroll;
        max-height: calc(100vh - 120px);

        li {
            position: relative;
            margin-bottom: 0.5rem;

            &:hover button {
                opacity: 1;
            }
            button {
                opacity: 0;
                position: absolute;
                top: 0.5rem;
                right: 0;
                background-color: rgb(20, 149, 255);
                padding: 5px;
                transition: .2s;
                color: white;

            &:hover {
                background-color: rgb(16, 124, 212);
            }
            }
        }
        p, h4 {
            margin: 0;
        }
        p {
            color: #777;
        }
        h4 {
            color: #333
        }
    }
    

    .avatar {
    // background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-inline-end: 1rem;
    overflow: hidden;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}