* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    // font-size: rem(18px);
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

